{% extends "base.html" %}

{% block content %}
<div class="login-container card">
    <h2>Registar Utilizador</h2>

    <form method="POST">

        <label>Tipo</label>
        <select name="tipo" required>
            <option value="estudante">Estudante</option>
            <option value="funcionario">Funcionário</option>
        </select>

        <label>Nome</label>
        <input type="text" name="nome" required>

        <label>Número</label>
        <input type="text" name="numero" required>

        <label>Curso / Departamento</label>
        <input type="text" name="curso_dep" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Criar Conta</button>

    </form>
</div>
{% endblock %}